/obj/
/test/output/
node_modules/
target/
/lib/
/crates/wasmtime-test
/test.js
/shared
examples/hello-world/guest/package-lock.json
examples/hello-world/guest/hello.component.wasm
/build-debug
/build-release
.vscode
/package-lock.json
.idea
.DS_Store