[workspace]
members = ["crates/spidermonkey-embedding-splicer"]
exclude = [
  "deps/js-compute-runtime/runtime/js-compute-runtime/rust-url",
  "deps/js-compute-runtime/runtime/js-compute-runtime/rust-encoding"
]
resolver = "2"

[workspace.package]
edition = "2021"
version = "0.1.0"

[workspace.dependencies]
anyhow = "1.0.69"
base64 = "0.21.2"
bitflags = "1.3.2"
env_logger = "0.10.0"
heck =  { version = "0.4", features = ["unicode"] }
js-component-bindgen = { path = "../jco/crates/js-component-bindgen", no-default-features = ["transpile-bindgen"] }
pulldown-cmark = { version = "0.8", default-features = false }
walrus = "0.20.1"
wasm-encoder = "0.31.1"
wasmparser = "0.110.0"
wasmprinter = "0.2.63"
wat = "1.0.70"
wit-bindgen = { version = "0.10.0" }
wit-bindgen-core = { version = "0.10.0" }
wit-component = { version = "0.13.2", features = ["dummy-module"] }
wit-parser = "0.10.0"
